.page-d {
    padding: 50px 0;
}

.page-d__wrapper {
    flex-flow: row-reverse;
    align-items: baseline;
}

.feedback-form__contacts {
    display: flex;
    justify-content: space-between;
}

.page-d__contacts {
    width: 45%;
    background-color: #CD6858;
}

.contacts__head {
    color: #fff;
}

.page-d__form {
    width: 45%;
}

.feedback-form {
    min-width: 375px;
    max-width: 420px;
}

.feedback-form__contacts-name,
.feedback-form__contacts-email {
    width: 45%;
    height: 50px;
    outline: #CD6858;
    color: #CD6858;
    font-family: "Roboto";
    font-size: 14px;
}

.feedback-form__subject {
    display: flex;
    flex-flow: column;
    padding: 20px 0 20px 0;
}

.feedback-form__subject-input,
.feedback-form__subject-textarea {
    min-height: 50px;
    max-height: 100px;
    // width: 98%;
    max-width: 98%;
    resize: vertical;
    height: 50px;
    outline: none;
    color: #CD6858;
    font-family: "Roboto";
    font-size: 14px;
}

.feedback-form__subject-textarea {
    margin-top: 20px;
    padding-top: 20px;
}

.feedback-form__contacts-email:hover,
.feedback-form__contacts-email:active,
.feedback-form__contacts-email:focus,
.feedback-form__contacts-name:hover,
.feedback-form__contacts-name:active,
.feedback-form__contacts-name:focus,
.feedback-form__subject-input:hover,
.feedback-form__subject-input:active,
.feedback-form__subject-input:focus,
.feedback-form__subject-textarea:hover,
.feedback-form__subject-textarea:active,
.feedback-form__subject-textarea:focus {
    border: 1px solid #CD6858;
}

.feedback-form__contacts-email:valid,
.feedback-form__contacts-name:valid,
.feedback-form__subject-input:valid,
.feedback-form__subject-textarea:valid {
    border-color: green;
}


.feedback-form__submit {
    position: relative;
}

.feedback-form__submit-btn {
    font-size: 25px;
    background-color: #CD6858;
    color: white;
    text-shadow: -1px 1px black;
    border: none;
    border-radius: 4%;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.feedback-form__submit-btn:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.feedback-form__submit-btn.send {
    animation: animate 4s;
}

@keyframes animate {
    from {
       width: 0;
       opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

.contacts__icons {
    display: flex;
    padding: 15px;
    font-size: 25px;
    color: #1b1b1c;
    flex-flow: column;
    border-top: 2px solid white;
}


.contacts__discript {
    font-size: 25px;
    color: #fff;
    padding: 10px;
}

.icons__link{
    display: flex;
    place-items: center;
    text-decoration: none;
    padding-top: 10px;
}

.icons__link:hover {
    transform: translateX(10px);
    transition: 0.5s;
}

.icons__discript {
    font-size: 20px;
    padding-left: 15px;
    color: #fff;
}

@media (max-width: 768px) {
    .page-d__wrapper {
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }
    .page-d__contacts {
        width: 100%;
    }
    .page-d__form {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .feedback-form__contacts-name,
    .feedback-form__contacts-email {
        width: 45%;
    }
    .contacts__discript {
        font-size: 20px;
    }
    .feedback-form__contacts{
        width: 100%;
    }
    .feedback-form__subject {
        width: 100%;
    }
    .feedback-form {
        display: flex;
        flex-flow: column nowrap;
        place-items: center;
        min-width: 345px;
    }
}

@media (max-width: 375px) {
    .feedback-form {
        display: flex;
        flex-flow: column nowrap;
        place-items: center;
        align-content: center;
        justify-content: center;
        max-width: 100%;
        min-width: 280px;
    }
    .contacts__discript {
        font-size: 20px;
    }
    .feedback-form__contacts-name,
    .feedback-form__contacts-email {
        width: 45%;
    }
    .feedback-form__subject {
        justify-content: center;
    }
    .feedback-form__contacts-name::placeholder,
    .feedback-form__contacts-email::placeholder,
    .feedback-form__subject-input::placeholder,
    .feedback-form__subject-textarea::placeholder {
        font-size: 12px;
    }


}